@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<style>
body { background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2018/02/286281-como-cambiar-cuenta-correo-perder-ningun-contacto-camino.jpg?itok=IBQUa2AZ'); }
    
    a:link {
        color: midnightblue;
        background-color: transparent;
        text-decoration: none;
    }
     
</style>


<address>
  
 <p>Soporte técnico:</p> <a href="mailto:soporte@example.com">Soporte@agencia.com</a> 
   <p>Mercadeo:</p> <a href="mailto:mercadeo@agencia.com"> Mercadeo@agencia.com</a> </div> 
   
</address>

