@{
    ViewBag.Title = "Home Page";
}

<style>
body { background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_ity-Ip86lrdAWm-L3qvvkd9dYgLiHdDwwDYLvMeeywslDM9uvhlaDGsik5jZzQVz64g&usqp=CAU'); }
</style>


<div class="jumbotron" align="center">
    
    <h1 style="border:2px solid;">Agencia Speed Racer </h1> 
        <p class="lead" align="">Somos una plataforma digital la cuál el cliente podrá escoger, ver o comprar el auto que más se ajuste a sus necesidades y a cómodos precios. </p>

       
</div>

